.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.admin{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(255, 0, 0, 0.793);
}